* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: hsl(30, 54%, 90%);
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    width: clamp(400px, 50vw, 700px);
    margin: 5em auto;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.container h1 {
    font-family: "Young Serif", serif;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.container p {
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    margin-top: 0px;
    padding-top: 0px;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 40px;
    padding-bottom: 20px;
    margin-left: 0px;
    font-size: 20px;
}

.preparation h2 {
    font-size: 20px;
    color: hsl(332, 51%, 32%);
    margin-left: -15px;
    margin-bottom: 20px;
    margin-top: -15px;
}

span.bold {
    font-weight: bold;
    padding-right: 3px;
    padding-left: 13px;
}

ul {
    padding-left: 10px;
    margin-top: -5px;
    font-size: 16px;
    color: hsl(14, 45%, 36%);
}

li {
    padding-bottom: 10px;
    color :black;
}

.ingredients-container h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 550;}

.ingredients-container ul {
    margin-left: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    
}

.ingredients-container li {
    color: hsl(14, 45%, 36%);
}

.items {
 padding-left: 12px;    
 color: black;
}

.ingredients-container {
    color:hsl(14, 45%, 36%);
    border-bottom: 1px solid black;
}

.instructions-container h2{
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    font-weight: 550;
}

.instructions-container li {
    color: hsl(14, 45%, 36%);

}

.instruction {
    color: black;
}

.instructionBold {
    font-weight: bold;
}

ol {
    font-size: 16px;
}
