* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: hsl(30, 54%, 90%);
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    width: clamp(400px, 50vw, 700px);
    margin: 5em auto;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.container h1 {
    font-family: "Young Serif", serif;
}

.container p {
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}

.preparation {
    margin-left: 25px;
    font-size: 20px;
}

.preparation h2 {
    font-size: 30px;
    color: hsl(332, 51%, 32%);
}

span.bold {
    font-weight: bold;
    padding-right: 5px;
}